.cart-product-container {
    width: 100%;
    background-color: white;
    padding: em(15);
    .cart-product-wrapper {
        width: 100%;
        height: 100%;
        .product-content-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            min-height: em(150);
            padding-bottom: em(25);
            border-bottom: 1px solid $grey;
            .product-image-wrapper {
                max-width: em(120);
                width: 100%;
                a {
                    .imgStyle {
                        @include bgSettings(cover, no-repeat, center);
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .product-description-wrapper {
                width: 100%;
                margin-left: em(20);
                a {
                    font-size: 13px;
                    letter-spacing: 0;
                    margin-bottom: em(25);
                    display: flex;
                    flex-direction: column;
                    span {
                        margin-bottom: em(5);
                        &.product-name {
                            font-weight: 600;
                        }
                        &.product-seller {
                            color: $grey;
                        }
                    }
                }
                .product-quantity-wrapper{
                    margin-bottom: em(15);
                    display: flex;
                    width: 100%;
                    button {
                        outline: none;
                        background-color: transparent;
                        border: 0;
                        padding: 0;
                        color: $grey;
                        
                        &:focus {
                            outline: none;
                        }
                        img {
                            width: 1.4em;
                        }
                    }
                    #qty {
                        border: 0;
                        color: black;
                        text-align: center;
                        margin: 0 em(5);
                        width: em(20);
                        font-size: 16px;
                        font-weight: 600;
                    }   
                    p{
                        border: 1px solid $purple;
                        border-radius: 3px;
                        padding: em(5) em(15);
                        color: $purple;
                        margin-left : em(15);
                        font-weight: 600;
                        margin-bottom: 0;
                        line-height: 1;
                    }
                }
                .product-price-wrapper {
                    width: 100%;
                    h3 {
                        font-weight: 600;
                        letter-spacing: 0;
                        .old-amount {
                            font-weight: 400;
                            color: $grey;
                            text-decoration: line-through;
                            padding: 0 em(5);
                        }
                        .discount {
                            font-weight: 400;
                            color: $purple;
                        }
                        margin-bottom: em(5);
                    }
                    p{
                        letter-spacing: 0;
                        font-weight: 600;
                        font-size: 13px;
                    }
                }
            }
        }
        .btn-container{
            padding: em(15) em(15) 0;
            display: flex;
            
            button {
                text-transform: uppercase;
                font-weight: 600;
                color: $grey;
                font-size: 12px;
                &.btn-remove {
                    border-right: 1px solid $grey;
                    width: 30%;
                    
                }
                &.btn-move-to-wishlist {
                    width: 70%;
                    text-align: center;
                }
            }
        }
    }
}

.remove-product-modal-container {
    position: fixed;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.26);
    z-index: 8;
    display: none;
    &.is-active {
        display: block;
    }
    .remove-product-modal-wrapper {
        width: 100%;
        background-color: white;
        position: relative;
        padding: em(20);
        padding-bottom: 0;
        .close-modal-btn-wrapper{
            position: absolute;
            top: 0;
            right: 0;
            padding: em(15);
            img {
                width: em(25);
            }
        }
        .remove-product {
            display: flex;
            width: 100%;
            margin-bottom: em(20);
            .product-image-wrapper{
                padding: em(5);
                border: 1px solid $grey;
                margin-right: em(10);
                img {
                    object-fit: cover;
                    width: em(80);
                    height: 100%;
                }
            }
            .remove-message-wrapper {
                p{
                    font-size: 13px;
                    margin-bottom: em(10);
                    letter-spacing: 0;
                }
            }
        }
        .remove-btn-container{
            display: flex;
            width: 100&;
            button{ 
                text-transform: uppercase;
                font-weight: 600;
                color: $grey;
                font-size: 12px;
                padding-top: em(15);
                padding-bottom: em(15);
                &.btn-remove {
                    
                    width: 30%;
                    color: $purple;
                }
                &.btn-move-to-wishlist {
                    width: 70%;
                    text-align: center;
                    border-right: 1px solid $grey;
                }
            }
        }
        .divider {
            position: absolute;
            right: 0;
            left: 0;
            background-color: $grey;
            height: 1px;
            width: 100%;
        }
    }
}