.categories-slider-container {
    width: 100%;
    height : em(100);
    background-color: white;
    margin-top: em(50);
    text-align: center;
    z-index: 8;
    .categories-slider-wrapper {
        box-shadow: $botBoxShadow;
        background: white;
        @media only screen and (max-width: 767px){
            padding-top: em(5);
            padding-bottom: em(17);
        }
        @media only screen and (min-width: 768px){
            padding-bottom: em(15);
        }
        .categories-carousel {
            .item {

                a { 
                    text-transform: uppercase;
                    img {
                        width: em(80);
                        height: em(80);
                        border-radius: 50%;
                        margin: em(5) auto 0;
                        object-fit: cover;
                        @media only screen and (min-width: 768px){
                            width: em(120);
                            height: em(120);
                            margin-bottom: em(10)
                        }
                        @media only screen and (min-width: 1025px){
                            width: em(100);
                            height: em(100);
                        }

                    }
                    span {
                        font-size: em(18);
                    }
                }
            }

            .owl-stage {
                padding-left: em(15) !important;
            }
        }
    }
}