// Functions for px to em conversion
$browser-context: 16; // Default
@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

@function px($pixels, $context: $browser-context) {
    @return #{$pixels/$context};
}

// Mixins for default styles 

$base : 16;
$base-height : 22.5;


@mixin textStyle( $color , $size: $base, $lspace, $lheight: $base-height , $weight: normal ) {
    color: $color;
    font-size: em($size);
    letter-spacing: #{$lspace/$base}em;
    line-height:  $lheight/$size;
    font-weight: $weight;
}

@mixin bgSettings($size , $repeat , $position ) {
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
}


// Color Variables 

$black : #000;
$purple : #f1137a;
$grey : #c2c2c2;
$lightPurple: #ffdaeb;
$pink : #ff99c8;

$whiteWash : #8d8d8d;
$green : #03a685;
$lightGrey : rgba(194, 194, 194, .15);
$darkGrey : rgba(246, 246, 246, 1);


.red {
    color: $purple;
}
.green {
    color: $green;
}
.black {
    color: $black !important;
}
.grey {
    color: $grey;
}
.lightgrey {
    color: $lightGrey;
}


// Custom Variables 

$botBoxShadow : 0 2px 3px -2px rgba(0, 0, 0, 0.55);