
// For Generic Component style

.generic-container {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: em(15);
    .generic-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        img {
            width: 2em;
            object-fit: cover;
            margin-right: .5em;
        }
        p{
            font-size: em(15);
            letter-spacing: 0;
            .amount {
                color: $purple;
            }
        }
        .coupon-field-wrapper {
            margin-left: em(20);
            width: em(155);
            input {
                border: 0;
                border-bottom: 1px solid black;
                font-size: em(13);
                padding: 0;
                width: 100%;
                &.empty {
                    border-bottom: 1px solid $purple;
                }
            }

        }
        .details-list-wrapper,.price-total-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: em(10);
        }

        .price-total-wrapper {
            border-top: 1px solid $grey;
            padding-top: em(10);
        }
        &.price-details {
            flex-direction: column;
            align-items: start;

            h3 {
                margin-bottom: em(10);
            }
        }
        .generic-text-wrapper {
            width: 100%;
            // margin-bottom: em(-15);
            margin-top: em(10);
            h3 {
                font-size: em(16);
                margin-bottom: em(10);
                .product-name {

                }
                .product-description {
                    color: $grey;
                    font-weight: 400;
                    
                }
                .product-amount{

                }
                .product-discount{
                    font-weight: 400;
                    color: $grey;
                    text-decoration: line-through;
                    margin: 0 em(6);
                }
                .product-discount-description {
                    font-weight: 400;
                    color: $purple;
                }
            }
            p{
                margin-bottom: em(10);
                font-size: em(14);
                &:last-child {
                    margin-bottom: 0;
                }
                &.view-more {
                    cursor: pointer;
                    color: $purple;
                    font-weight: 600;
                }
                
            }
            .input-pin-container {
                width: 100%;
                margin-bottom: em(10);
                input {
                    width: 100%;
                    padding: em(10);
                    font-size: em(13);
                    border-radius: 3px;
                    border: 1px solid $grey;
                    &::placeholder {
                        color: $purple;
                    }
                }
            }
            ul {
                padding: 0;
                margin: 0;
                li {
                    list-style-type: none;
                    padding: em(10) 0;
                    border-top: 1px solid $grey;
                    
                    a{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        align-items: center;
                        font-size: em(20);
                        letter-spacing: -.3px;
                    }
                }
            }
            .collapse-item {
                display: none;
                &.active {
                    display: block;
                }
            }
        }
        .three-col-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            .col-item {
                width: calc(33.33% - .5em);
                text-align: center;
                img {
                    margin-bottom: em(5);
                }
                p {
                    font-size: em(12);
                }

            }
        }
    }
}
