* {
    margin: 0;
    box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    
    font-size: 1.111vw;
    @media only screen and (min-width: 1025px){
        font-size: 16px;
        background-color: $lightGrey;
    }
    @media only screen and (max-width: 1024px){
        font-size: 16px;
    }
    @media only screen and (max-width: 767px){
        // font-size: 12px;
    }
}

main {
    background-color: $lightGrey;
    height: 100%;
    padding-bottom: em(15);
    .section {
        margin: em(20) 0;
        &:last-child {
            margin-bottom: em(40);
        }
    }
    @media only screen and (min-width : 1025px){
        background-color: whitesmoke;
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }
}

.animated {
    .animated-child {
        opacity: 0;
        transform: translateY(-15px);
    }
}

.flex-col {
    flex-direction: column;
}


