.header-container {
    width: 100%;
    height: em(70);
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 9;
    @media only screen and (min-width : 768px){
        height : em(70);
    }
    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0 em(15);
        .header-left-wrapper {
            display: flex; 
            align-items: center;
            height: 100%;
            width: 80%;
            .btn-arrow-back {
                margin-right: em(15);
                img {
                    width: 1.364em;
                    height: 1.364em;
                }
            }
            .logo-container {
                width: em(100);
                margin: auto;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .page-title {
                display: none; 
                font-weight: 600;
                &.is-active {
                    display: block;
                }
            }
            .input-field-for-search-wrapper {
                width: 100%;
                display: none;
                &.is-active {
                    display: block;
                }
                input {
                    border: none;
                    outline: none;
                    width: 100%;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        .header-right-wrapper {
            display: flex;
            align-items: center;
            height: 100%;
            a {
                margin-right : 1.364em;
                img {
                    // width: 1.364em;
                    // height: 1.364em;
                }
                &:last-child {
                    margin-right : 0;
                }
            }
        }
    }
}