.image-box-component-container {
    .image-box-component-wrapper {
        .image-box {
            .box-title-wrapper {
                h4 {
                    text-transform: uppercase;
                    background-color: white;
                    padding: em(15);
                }
            }
            .image-container {
                .image-wrapper {
                    a {
                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
                &.image-box-two-grid {
                    background-color: white;
                    padding: em(0) em(15) em(15);
                    
                    .image-wrapper {
                        background-color: $darkGrey;
                        padding: em(10) em(15);
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        padding-bottom: 0;
                        .image-item { 
                            width: calc(50% - 1em);
                            background-color: white;
                            text-align: center;
                            margin-bottom: em(10);
                            a {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-between;
                                height: 100%;
                            }
                            .image-label-wrapper {
                                text-align: center;
                                padding: em(10) em(5);
                            }
                        }
                    }
                }
                &.image-box-three-grid {
                    background-color: white;
                    padding: em(0) em(15) em(15);
                    
                    .image-wrapper {
                        background-color: $darkGrey;
                        padding: em(5);
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        padding-bottom: 0;
                        .image-item { 
                            width: calc(33.33% - .3em);
                            background-color: white;
                            text-align: center;
                            margin-bottom: em(4);
                            a {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-between;
                                height: 100%;
                            }
                        }
                    }
                }
                &.image-box-no-label {
                    .image-wrapper{ 
                        .image-item {
                            width: calc(50% - .3em);
                        }
                    }

                }                
            }

        }
    }
}