.available-offers-container {
    width: 100%;
    height: auto;
    background-color: white;
    padding: em(15);
    .available-offers-wrapper {
        width: 100%;
        height: 100%;
        .header-offer-wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: em(10);
            h3 {
                font-weight: 600;
                &.total-amount {
                    color: black;
                    span {
                        color: $purple;
                    }
                }
                &.total-savings {
                    color: $green;
                }
            }
        }
        .offer-details-wrapper{
            p{
                color : $grey;
                line-height: 1.5;
                letter-spacing: 0;
                font-size: em(14);
            }
        }
        .coupon-code-wrapper {
            margin-top: em(10);
            .item-coupon{
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                margin-bottom: em(10);
                .coupon {
                    background-color: rgba(241, 19, 122, 0.2);
                    border: 1px dashed $purple;
                    padding: em(10);
                    border-radius: 3px;
                    &.active {
                        border: 1px solid $purple;
                    }
                    h3 {
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
                .description {
                    color: $grey;
                    padding-left: em(10);
                    font-size: 13px;
                    letter-spacing: 0;
                    display: none;
                    &.active {
                        display: block;
                    }
                }
            }


        }
    }
}


// For delivery style

.generic-container {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: em(15);
    .generic-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        img {
            width: 2em;
            object-fit: cover;
            margin-right: .5em;
        }
        p{
            font-size: em(15);
            letter-spacing: 0;
            .amount {
                color: $purple;
            }
        }
        .coupon-field-wrapper {
            margin-left: em(20);
            width: em(155);
            input {
                border: 0;
                border-bottom: 1px solid black;
                font-size: em(13);
                padding: 0;
                width: 100%;
                &.empty {
                    border-bottom: 1px solid $purple;
                }
            }
        }
        .details-list-wrapper,.price-total-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: em(10);
        }

        .price-total-wrapper {
            border-top: 1px solid $grey;
            padding-top: em(10);
        }
        &.price-details {
            flex-direction: column;
            align-items: start;

            h3 {
                margin-bottom: em(10);
            }
        }
    }
}




.copy-notification-wrapper{
    display: none;
    opacity: 0;
    padding: em(15);
    background: rgba(0, 0, 0, 0.45);
    border-radius: 3px;
    transition: .3s opacity;
    z-index: 9;
    border: 1px solid black;
    position: fixed;
    bottom: em(100);
    left: 50%;
    transform: translateX(-50%);
    width: em(200);
    text-align: center;
    &.active {

        display: block;
        opacity: 1;
    }
    .copy-notification {
        font-size: 13px;
        letter-spacing: 0;
        color: white;
    }
}