.pink-banner-container {
    width: 100%;
    height: em(75);
    background-color: $pink;
    margin-top: em(56);
    
    @media only screen and (min-width: 768px){
        height: em(100);
        margin-top: em(70);
    }
    .pink-banner-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 em(35);
        text-align: center;
        @media only screen and (min-width: 768px){
            padding: 0 em(20);
        }
        @media only screen and (min-width: 1025px){
            justify-content: center;
            .banner-left-wrapper {
                margin-right: em(150);
            }
        }
        h3 {
            color: white;
            font-weight: 600;
            margin-bottom: 5px;
            font-size: em(14);
            @media only screen and (min-width: 1025px){
                font-size: em(16);
            }
        }
        p {
            color: white;
            font-size: em(14);
            @media only screen and (min-width: 1025px){
                font-size: em(16);
            }
        }
    }
}