.product-items-container {
    width: 100%;
    margin-bottom: em(70);
    @media only screen and (min-width: 768px){
        margin-bottom: em(80);
    }
    .product-wrapper {
        display: flex;
        width: 100%;
        justify-content: start;
        flex-wrap: wrap;
        .item-wrapper {
            width: 50%;
            border-bottom: 1px solid $grey;
            &:nth-child(2n){
                .product-content-wrapper {
                    border-right: 0;
                }
            }
            @media only screen and (min-width: 1025px){
                width: 25%;
                &:nth-child(2n){
                    .product-content-wrapper {
                        border-right : 1px solid $grey;
                    }
                    .product-image-bgStyle{
                        border-right : 1px solid $grey;
                    }
                }
                &:nth-child(4n){
                    .product-content-wrapper {
                        border-right : 0;
                    }
                    .product-image-bgStyle{
                        border-right : 0;
                    }
                }
            }
            .product-image-bgStyle {
                @include bgSettings(cover, no-repeat, center);
                height: 187px;
                width: 100%;
                cursor: pointer;
                border-right: 1px solid $grey;
                @media only screen and (min-width: 768px){
                    height: em(360);
                }
            }
            .product-content-wrapper {
                height: em(60);
                width: 100%;
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-right : 1px solid $grey;
                @media only screen and (min-width: 768px){
                    height: em(120);
                    padding: em(20);
                }
                .product-title-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    @media only screen and (min-width: 768px){
                        margin-bottom: em(10);
                    }
                    h4 {
                        font-weight: 600;
                        letter-spacing: -1.1px;
                        line-height: 12px;
                        color: grey;
                        
                    }
                    .product-icon-wrapper {
                        img {
                            width:1.182em;
                            height:1.182em;
                            @media only screen and (min-width: 768px){
                                width: 1.364em;
                                height: 1.364em;
                            }
                        }
                    }
                }
                .product-description-wrapper{
                    margin-bottom: em(3);
                    @media only screen and (min-width: 768px){
                        margin-bottom: em(10);
                    }
                    h5 {

                    }   
                }
                .product-price-wrapper {
                    display: flex;
                    align-items: center;
                    
                    .price-wrapper{
                        display: flex;
                        h3 {
                            font-family: $hind;
                            margin-right : 4px;
                            font-size: em(12);
                            letter-spacing: -.5px;
                            @media only screen and (min-width: 768px){
                                font-size: em(18);
                                margin-right: em(10);
                            }
                            &.discount {
                                color: $grey;
                                font-weight: 400;
                                text-decoration: line-through;
                            }
                        }
                    }
                    .discount-detail {
                        font-family: $hind;
                        font-size: em(10);
                        color: $green;
                        letter-spacing: 0;
                        @media only screen and (min-width: 768px){
                            font-size: em(18);
                            margin-right: em(10);
                        }
                    }
                }
            }

        }
    }
    &.variant-2 {
        .product-wrapper {
            .item-wrapper {
                width: 100%;
                @media only screen and (min-width: 1025px){
                    width: 50%;
                }
                .product-image-bgStyle {
                    height: 375px;
                    border-right: 1px solid $grey;
                    @media only screen and (min-width: 768px){
                        height: em(460);
                    }
                }
                .product-content-wrapper {
                    text-align: center;
                    height: em(75);
                    .product-title-wrapper {
                        justify-content: center;
                        position: relative;
                        margin-bottom: em(5);
                        h4 {
                            font-size:em(18);
                        }
                        .product-icon-wrapper {
                            position: absolute;
                            display: flex;
                            justify-content: space-between;
                            padding: 0 em(25);
                            width: 100%;
                            top: 50%;
                            a {
                                &:first-child {
                                    margin-right: em(8s);
                                }
                                img {
                                    width:1.7em;
                                    height:2em;
                                    @media only screen and (min-width : 768px){
                                        width: 1.5em;
                                        height: 1.5em;
                                    }
                                }
                            }
                        }
                    }
                    .product-description-wrapper {
                        margin-bottom: em(5);
                        h5 {
                            font-size: em(12);
                        }
                    }
                    .product-price-wrapper {
                        justify-content: center;
                        h3 {
                            font-size: em(14);
                        }
                        p{
                            font-size: em(12);
                        }
                    }
                }
            }
        }
    }
}