.product-items-container {
    width: 100%;
    .product-wrapper {
        display: flex;
        width: 100%;
        justify-content: start;
        flex-wrap: wrap;
        .item-wrapper {
            width: 50%;
            border-bottom: 1px solid $grey;
            @media only screen and (min-width: 1025px){
                width: 25%;
            }
            &:nth-child(2n){
                .product-content-wrapper {
                    border-right: 0;
                }
            }
            .product-image-bgStyle {
                @include bgSettings(cover, no-repeat, center);
                height: 187px;
                width: 100%;
                cursor: pointer;
                @media only screen and (min-width: 1025px){
                    height: em(360);
                }
            }
            .product-content-wrapper {
                height: em(80);
                width: 100%;
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-right : 2px solid $grey;
                
                .product-title-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: em(5);
                    h4 {
                        font-weight: 600;
                        letter-spacing: -1.1px;
                        line-height: 12px;
                        
                    }
                    .product-icon-wrapper {

                    }
                }
                .product-description-wrapper{
                    margin-bottom: em(5);
                    h5 {

                    }   
                }
                .product-price-wrapper {
                    display: flex;
                    align-items: center;
                    
                    .price-wrapper{
                        display: flex;
                        h3 {
                            font-family: $segoe;
                            margin-right : 4px;
                            font-size: em(12);
                            letter-spacing: -.5px;
                            &.discount {
                                color: $grey;
                                font-weight: 400;
                                text-decoration: line-through;
                            }
                        }
                    }
                    .discount-detail {
                        font-family: $segoe;
                        font-size: em(10);
                        color: $green;
                        letter-spacing: 0;
                    }
                }
            }

        }
    }
    &.variant-1 {

    }
}