

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

$hind : 'Hind', sans-serif;

// Fonts 

h1 {
    @media only screen and (max-width: 767px){

    }
}

h2 {
    @include textStyle($black ,24 , 0 , 24 , bold );
    font-family: $hind;
    @media only screen and (max-width: 767px){
        font-size: em(16);
        font-weight: 700;
    }
}

h3 {
    @include textStyle($black ,22 , 0, 22 , bold );
    font-family: $hind;
    @media only screen and (max-width: 767px){
        font-size: em(16);
        font-weight: 600;
    }
}

h4 {
    @include textStyle($black ,20, 0, 20 , 400 );
    font-family: $hind;
    @media only screen and (max-width: 767px){
        font-size: em(13);
    }
}

h5 {
    @include textStyle($whiteWash ,16, 0 , 16 , 400 );
    font-family: $hind;
    @media only screen and (max-width: 767px){
        font-size: em(10);
    }
}



p, a, input, li {
    @include textStyle($black ,16, 1.1 , 17 , 400 );
    font-family: $hind;
    @media only screen and (max-width: 767px){
        font-size: em(11);
    }
}

a{
    text-decoration: none;
}

input {
    &:focus {
        outline: none;
        border: none;
    }
}