@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
.btn {
  padding: 0.9375em 1.5625em;
  border-radius: 5px;
  text-transform: uppercase;
}
.btn--transparent {
  border: 1px solid #c2c2c2;
  color: #c2c2c2;
  background-color: transparent;
}
.btn--transparent--wishlist {
  color: #03a685;
  font-weight: 600;
}

h2 {
  color: #000;
  font-size: 1.5em;
  letter-spacing: 0em;
  line-height: 1;
  font-weight: bold;
  font-family: "Hind", sans-serif;
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 1em;
    font-weight: 700;
  }
}

h3 {
  color: #000;
  font-size: 1.375em;
  letter-spacing: 0em;
  line-height: 1;
  font-weight: bold;
  font-family: "Hind", sans-serif;
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 1em;
    font-weight: 600;
  }
}

h4 {
  color: #000;
  font-size: 1.25em;
  letter-spacing: 0em;
  line-height: 1;
  font-weight: 400;
  font-family: "Hind", sans-serif;
}
@media only screen and (max-width: 767px) {
  h4 {
    font-size: 0.8125em;
  }
}

h5 {
  color: #8d8d8d;
  font-size: 1em;
  letter-spacing: 0em;
  line-height: 1;
  font-weight: 400;
  font-family: "Hind", sans-serif;
}
@media only screen and (max-width: 767px) {
  h5 {
    font-size: 0.625em;
  }
}

p, a, input {
  color: #000;
  font-size: 1em;
  letter-spacing: 0.06875em;
  line-height: 1.0625;
  font-weight: 400;
  font-family: "Hind", sans-serif;
}
@media only screen and (max-width: 767px) {
  p, a, input {
    font-size: 0.6875em;
  }
}

a {
  text-decoration: none;
}

.header-container {
  width: 100%;
  height: 4.375em;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 9;
  box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.55);
}
@media only screen and (min-width: 768px) {
  .header-container {
    height: 4.375em;
  }
}
.header-container .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 0.9375em;
}
.header-container .header-wrapper .header-left-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
}
.header-container .header-wrapper .header-left-wrapper .btn-arrow-back {
  margin-right: 0.9375em;
}
.header-container .header-wrapper .header-left-wrapper .btn-arrow-back img {
  width: 2.5em;
  height: 2.5em;
}
.header-container .header-wrapper .header-left-wrapper .logo-container {
  width: 6.25em;
}
.header-container .header-wrapper .header-left-wrapper .logo-container img {
  width: 100%;
  object-fit: cover;
}
.header-container .header-wrapper .header-left-wrapper .page-title {
  display: none;
  font-weight: 600;
}
.header-container .header-wrapper .header-left-wrapper .page-title.is-active {
  display: block;
}
.header-container .header-wrapper .header-left-wrapper .input-field-for-search-wrapper {
  width: 100%;
  display: none;
}
.header-container .header-wrapper .header-left-wrapper .input-field-for-search-wrapper.is-active {
  display: block;
}
.header-container .header-wrapper .header-left-wrapper .input-field-for-search-wrapper input {
  border: none;
  outline: none;
  width: 100%;
}
.header-container .header-wrapper .header-left-wrapper .input-field-for-search-wrapper input:focus {
  outline: none;
}
.header-container .header-wrapper .header-right-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-container .header-wrapper .header-right-wrapper a {
  margin-right: 1.364em;
}
.header-container .header-wrapper .header-right-wrapper a img {
  width: 2.727em;
}
.header-container .header-wrapper .header-right-wrapper a:last-child {
  margin-right: 0;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
            This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
            calculation of the height of the owl-item that breaks page layouts
         */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.hamburger {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
}
.hamburger:focus, .hamburger:visited {
  outline: none;
}
.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner {
  background-color: #8d8d8d;
}
.hamburger.is-active .hamburger-inner::before {
  background-color: #8d8d8d;
}
.hamburger.is-active .hamburger-inner::after {
  background-color: #8d8d8d;
}

.hamburger-box {
  width: 2.5em;
  height: 0.9375em;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 1.875em;
  height: 2px;
  background-color: #8d8d8d;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before {
  width: 1.875em;
  height: 2px;
  background-color: #8d8d8d;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  content: "";
  display: block;
  top: -0.375em;
}
.hamburger-inner::after {
  width: 1.875em;
  height: 2px;
  background-color: #8d8d8d;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  content: "";
  display: block;
  bottom: -0.375em;
}

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -0.75em;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.pink-banner-container {
  width: 100%;
  height: 4.6875em;
  background-color: #ff99c8;
  margin-top: 4.375em;
}
@media only screen and (min-width: 768px) {
  .pink-banner-container {
    height: 6.25em;
    margin-top: 4.375em;
  }
}
.pink-banner-container .pink-banner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 2.1875em;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .pink-banner-container .pink-banner-wrapper {
    padding: 0 1.25em;
  }
}
.pink-banner-container .pink-banner-wrapper h3 {
  color: white;
  font-weight: 600;
  margin-bottom: 5px;
}
.pink-banner-container .pink-banner-wrapper p {
  color: white;
}

.product-items-container {
  width: 100%;
  margin-bottom: 3.4375em;
}
@media only screen and (min-width: 768px) {
  .product-items-container {
    margin-bottom: 5em;
  }
}
.product-items-container .product-wrapper {
  display: flex;
  width: 100%;
  justify-content: start;
  flex-wrap: wrap;
}
.product-items-container .product-wrapper .item-wrapper {
  width: 50%;
  border-bottom: 1px solid #c2c2c2;
}
.product-items-container .product-wrapper .item-wrapper:nth-child(2n) .product-content-wrapper {
  border-right: 0;
}
@media only screen and (min-width: 1025px) {
  .product-items-container .product-wrapper .item-wrapper {
    width: 25%;
  }
  .product-items-container .product-wrapper .item-wrapper:nth-child(2n) .product-content-wrapper {
    border-right: 1px solid #c2c2c2;
  }
  .product-items-container .product-wrapper .item-wrapper:nth-child(2n) .product-image-bgStyle {
    border-right: 1px solid #c2c2c2;
  }
  .product-items-container .product-wrapper .item-wrapper:nth-child(4n) .product-content-wrapper {
    border-right: 0;
  }
  .product-items-container .product-wrapper .item-wrapper:nth-child(4n) .product-image-bgStyle {
    border-right: 0;
  }
}
.product-items-container .product-wrapper .item-wrapper .product-image-bgStyle {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 187px;
  width: 100%;
  cursor: pointer;
  border-right: 1px solid #c2c2c2;
}
@media only screen and (min-width: 768px) {
  .product-items-container .product-wrapper .item-wrapper .product-image-bgStyle {
    height: 22.5em;
  }
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper {
  height: 3.75em;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #c2c2c2;
}
@media only screen and (min-width: 768px) {
  .product-items-container .product-wrapper .item-wrapper .product-content-wrapper {
    height: 7.5em;
    padding: 1.25em;
  }
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper {
    margin-bottom: 0.625em;
  }
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper h4 {
  font-weight: 600;
  letter-spacing: -1.1px;
  line-height: 12px;
  color: grey;
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper .product-icon-wrapper img {
  width: 1.182em;
  height: 1.182em;
}
@media only screen and (min-width: 768px) {
  .product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper .product-icon-wrapper img {
    width: 1.364em;
    height: 1.364em;
  }
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-description-wrapper {
  margin-bottom: 0.1875em;
}
@media only screen and (min-width: 768px) {
  .product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-description-wrapper {
    margin-bottom: 0.625em;
  }
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper {
  display: flex;
  align-items: center;
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper .price-wrapper {
  display: flex;
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper .price-wrapper h3 {
  font-family: "Hind", sans-serif;
  margin-right: 4px;
  font-size: 0.75em;
  letter-spacing: -0.5px;
}
@media only screen and (min-width: 768px) {
  .product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper .price-wrapper h3 {
    font-size: 1.125em;
    margin-right: 0.625em;
  }
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper .price-wrapper h3.discount {
  color: #c2c2c2;
  font-weight: 400;
  text-decoration: line-through;
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper .discount-detail {
  font-family: "Hind", sans-serif;
  font-size: 0.625em;
  color: #03a685;
  letter-spacing: 0;
}
@media only screen and (min-width: 768px) {
  .product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper .discount-detail {
    font-size: 1.125em;
    margin-right: 0.625em;
  }
}
.product-items-container.variant-2 .product-wrapper .item-wrapper {
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  .product-items-container.variant-2 .product-wrapper .item-wrapper {
    width: 50%;
  }
}
.product-items-container.variant-2 .product-wrapper .item-wrapper .product-image-bgStyle {
  height: 375px;
  border-right: 1px solid #c2c2c2;
}
@media only screen and (min-width: 768px) {
  .product-items-container.variant-2 .product-wrapper .item-wrapper .product-image-bgStyle {
    height: 28.75em;
  }
}
.product-items-container.variant-2 .product-wrapper .item-wrapper .product-content-wrapper {
  text-align: center;
  height: 4.6875em;
}
.product-items-container.variant-2 .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper {
  justify-content: center;
  position: relative;
  margin-bottom: 0.3125em;
}
.product-items-container.variant-2 .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper h4 {
  font-size: 1.125em;
}
.product-items-container.variant-2 .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper .product-icon-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5625em;
  width: 100%;
  top: 50%;
}
.product-items-container.variant-2 .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper .product-icon-wrapper a:first-child {
  margin-right: 0.5sem;
}
.product-items-container.variant-2 .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper .product-icon-wrapper a img {
  width: 1.7em;
  height: 2em;
}
@media only screen and (min-width: 768px) {
  .product-items-container.variant-2 .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper .product-icon-wrapper a img {
    width: 1.5em;
    height: 1.5em;
  }
}
.product-items-container.variant-2 .product-wrapper .item-wrapper .product-content-wrapper .product-description-wrapper {
  margin-bottom: 0.3125em;
}
.product-items-container.variant-2 .product-wrapper .item-wrapper .product-content-wrapper .product-description-wrapper h5 {
  font-size: 0.75em;
}
.product-items-container.variant-2 .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper {
  justify-content: center;
}
.product-items-container.variant-2 .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper h3 {
  font-size: 0.875em;
}
.product-items-container.variant-2 .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper p {
  font-size: 0.75em;
}

.sort-filter-container {
  width: 100%;
  height: 3.4375em;
  border-bottom: 1px solid #c2c2c2;
  position: fixed;
  bottom: 0;
  background-color: white;
  box-shadow: 0px -2px 5px -2px rgba(0, 0, 0, 0.55);
}
@media only screen and (min-width: 768px) {
  .sort-filter-container {
    height: 5em;
  }
}
.sort-filter-container .sort-filter-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sort-filter-container .sort-filter-wrapper .wrapper {
  text-align: center;
  width: 50%;
}
.sort-filter-container .sort-filter-wrapper .wrapper a {
  font-size: 0.75em;
  letter-spacing: 2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sort-filter-container .sort-filter-wrapper .wrapper a .sort-span {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .sort-filter-container .sort-filter-wrapper .wrapper a {
    font-size: 1.25em;
  }
}
.sort-filter-container .sort-filter-wrapper .wrapper a img {
  margin-right: 1.25em;
  width: 1.364em;
  height: 1.364em;
}
.sort-filter-container .sort-filter-wrapper .wrapper .round {
  height: 0.417em;
  width: 0.417em;
  border-radius: 50%;
  background-color: #f1137a;
  position: absolute;
  top: -0.2em;
  right: -0.5em;
}
.sort-filter-container .divider {
  height: 1.5625em;
  width: 1px;
  background-color: #c2c2c2;
}
@media only screen and (min-width: 768px) {
  .sort-filter-container .divider {
    height: 2.1875em;
  }
}

.categories-slider-container {
  width: 100%;
  height: 6.25em;
  background-color: white;
  position: fixed;
  margin-top: 3.125em;
  text-align: center;
  z-index: 8;
  top: 0;
}
.categories-slider-container .categories-slider-wrapper {
  box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.55);
  background: white;
}
@media only screen and (max-width: 767px) {
  .categories-slider-container .categories-slider-wrapper {
    padding-top: 0.3125em;
    padding-bottom: 0.9375em;
  }
}
@media only screen and (min-width: 768px) {
  .categories-slider-container .categories-slider-wrapper {
    padding-bottom: 0.9375em;
  }
}
.categories-slider-container .categories-slider-wrapper .categories-carousel .item a {
  text-transform: uppercase;
}
.categories-slider-container .categories-slider-wrapper .categories-carousel .item a img {
  width: 6.25em;
  height: 6.25em;
  border-radius: 50%;
  margin: 0.3125em auto;
}
@media only screen and (min-width: 768px) {
  .categories-slider-container .categories-slider-wrapper .categories-carousel .item a img {
    width: 7.5em;
    height: 7.5em;
    margin-bottom: 0.625em;
  }
}
@media only screen and (min-width: 1025px) {
  .categories-slider-container .categories-slider-wrapper .categories-carousel .item a img {
    width: 6.25em;
    height: 6.25em;
  }
}
.categories-slider-container .categories-slider-wrapper .categories-carousel .item a span {
  font-size: 1.125em;
}
.categories-slider-container .categories-slider-wrapper .categories-carousel .owl-stage {
  padding-left: 0.9375em !important;
}

.slider-component-container {
  width: 100%;
  background-color: white;
}
.slider-component-container .slider-component-wrapper {
  padding: 0.9375em 0;
}
.slider-component-container .slider-component-wrapper .slider-title-wrapper {
  padding: 0em 0.9375em 0.9375em 0.9375em;
}
.slider-component-container .slider-component-wrapper .slider-title-wrapper h4 {
  text-transform: uppercase;
}
.slider-component-container .slider-component-wrapper .slider-carousel .item .item-imageStyle {
  object-fit: cover;
  height: auto;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  .slider-component-container .slider-component-wrapper .slider-carousel .item .item-imageStyle {
    max-height: 43.75em;
  }
}
.slider-component-container .slider-component-wrapper .slider-carousel .owl-dots {
  text-align: center;
  padding: 0.3125em 0;
  margin-bottom: -0.9375em;
  display: none;
}
.slider-component-container .slider-component-wrapper .slider-carousel .owl-dots .owl-dot {
  width: 0.4375em;
  height: 0.4375em;
  border-radius: 50%;
  background-color: #c2c2c2;
  margin-right: 0.625em;
}
.slider-component-container .slider-component-wrapper .slider-carousel .owl-dots .owl-dot:last-child {
  margin-right: 0;
}
.slider-component-container .slider-component-wrapper .slider-carousel .owl-dots .owl-dot.active {
  background-color: #f1137a;
}
.slider-component-container .slider-component-wrapper .slider-carousel.dots-active .owl-dots {
  display: block;
}
.slider-component-container .slider-component-wrapper .slider-carousel.double-slide-active .owl-stage {
  padding-left: 0.9375em !important;
  display: flex;
  justify-content: flex-end;
  padding-right: 0 !important;
}

.image-box-component-container .image-box-component-wrapper .image-box .box-title-wrapper h4 {
  text-transform: uppercase;
  background-color: white;
  padding: 0.9375em;
}
.image-box-component-container .image-box-component-wrapper .image-box .image-container .image-wrapper a img {
  width: 100%;
  object-fit: cover;
}
.image-box-component-container .image-box-component-wrapper .image-box .image-container.image-box-two-grid {
  background-color: white;
  padding: 0em 0.9375em 0.9375em;
}
.image-box-component-container .image-box-component-wrapper .image-box .image-container.image-box-two-grid .image-wrapper {
  background-color: #f6f6f6;
  padding: 0.625em 0.9375em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0;
}
.image-box-component-container .image-box-component-wrapper .image-box .image-container.image-box-two-grid .image-wrapper .image-item {
  width: calc(50% - 1em);
  background-color: white;
  text-align: center;
  margin-bottom: 0.625em;
}
.image-box-component-container .image-box-component-wrapper .image-box .image-container.image-box-two-grid .image-wrapper .image-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.image-box-component-container .image-box-component-wrapper .image-box .image-container.image-box-two-grid .image-wrapper .image-item .image-label-wrapper {
  text-align: center;
  padding: 0.625em 0.3125em;
}
.image-box-component-container .image-box-component-wrapper .image-box .image-container.image-box-three-grid {
  background-color: white;
  padding: 0em 0.9375em 0.9375em;
}
.image-box-component-container .image-box-component-wrapper .image-box .image-container.image-box-three-grid .image-wrapper {
  background-color: #f6f6f6;
  padding: 0.3125em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0;
}
.image-box-component-container .image-box-component-wrapper .image-box .image-container.image-box-three-grid .image-wrapper .image-item {
  width: calc(33.33% - .3em);
  background-color: white;
  text-align: center;
  margin-bottom: 0.25em;
}
.image-box-component-container .image-box-component-wrapper .image-box .image-container.image-box-three-grid .image-wrapper .image-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.image-box-component-container .image-box-component-wrapper .image-box .image-container.image-box-no-label .image-wrapper .image-item {
  width: calc(50% - .3em);
}

.categories-box-component-container .categories-box-component-wrapper .box-title-wrapper h4 {
  text-transform: uppercase;
  background-color: white;
  padding: 0.9375em;
}
.categories-box-component-container .categories-box-component-wrapper .categories-container {
  background-color: white;
  padding: 0em 0.9375em 0.9375em;
}
.categories-box-component-container .categories-box-component-wrapper .categories-container .categories-wrapper {
  background-color: #f6f6f6;
  padding: 0.3125em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0;
  text-align: center;
}
.categories-box-component-container .categories-box-component-wrapper .categories-container .categories-wrapper .categories-item {
  width: calc(33.33% - .3em);
  margin-bottom: 0.625em;
}
.categories-box-component-container .categories-box-component-wrapper .categories-container .categories-wrapper .categories-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.9375em;
}
.categories-box-component-container .categories-box-component-wrapper .categories-container .categories-wrapper .categories-item a img {
  width: 8.125em;
  height: 8.125em;
  border-radius: 50%;
}

.discount-component-container {
  width: 100%;
  background-color: #f6f6f6;
}
.discount-component-container .discount-component-wrapper .discount-carousel .item-slider .item-imageStyle {
  object-fit: cover;
  height: auto;
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  .discount-component-container .discount-component-wrapper .discount-carousel .item-slider .item-imageStyle {
    max-height: 43.75em;
  }
}
.discount-component-container .discount-component-wrapper .discount-carousel .owl-stage {
  padding-left: 0.9375em !important;
}

.quote-component-container .quote-component-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5625em;
}
.quote-component-container .quote-component-wrapper p {
  font-size: 0.875em;
}
.quote-component-container .quote-component-wrapper p.quote-content {
  margin-bottom: 0.625em;
}
.quote-component-container .quote-component-wrapper p.author {
  font-style: italic;
  opacity: 0.7;
}

.breadcrumbs-container {
  width: 100%;
  height: 2.5em;
  margin-top: 4.375em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0 0.9375em;
}
.breadcrumbs-container .breadcrumbs-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.breadcrumbs-container .breadcrumbs-wrapper .item-breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: calc(33.33% - .5em);
}
.breadcrumbs-container .breadcrumbs-wrapper .item-breadcrumbs .line-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-right: 0.3125em;
  position: relative;
}
.breadcrumbs-container .breadcrumbs-wrapper .item-breadcrumbs .line-wrapper .line {
  width: 100%;
  height: 2px;
  background-color: #c2c2c2;
}
.breadcrumbs-container .breadcrumbs-wrapper .item-breadcrumbs .line-wrapper .line-animate {
  width: 0;
  height: 2px;
}
.breadcrumbs-container .breadcrumbs-wrapper .item-breadcrumbs .line-wrapper .point {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background-color: #c2c2c2;
}
.breadcrumbs-container .breadcrumbs-wrapper .item-breadcrumbs .current-step-wrapper h5 {
  color: #c2c2c2;
}
.breadcrumbs-container .breadcrumbs-wrapper .item-breadcrumbs.is-active .line-wrapper .line-animate {
  background-color: #03a685;
  width: 90%;
  transition: 0.3s width;
  position: absolute;
}
.breadcrumbs-container .breadcrumbs-wrapper .item-breadcrumbs.is-active .line-wrapper .point {
  border: 1px solid #03a685;
  background-color: #03a685;
  transition: 0.3s background-color;
}

.available-offers-container {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 0.9375em;
}
.available-offers-container .available-offers-wrapper {
  width: 100%;
  height: 100%;
}
.available-offers-container .available-offers-wrapper .header-offer-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.625em;
}
.available-offers-container .available-offers-wrapper .header-offer-wrapper h3 {
  font-weight: 600;
}
.available-offers-container .available-offers-wrapper .header-offer-wrapper h3.total-amount {
  color: black;
}
.available-offers-container .available-offers-wrapper .header-offer-wrapper h3.total-amount span {
  color: #f1137a;
}
.available-offers-container .available-offers-wrapper .header-offer-wrapper h3.total-savings {
  color: #03a685;
}
.available-offers-container .available-offers-wrapper .offer-details-wrapper p {
  color: #c2c2c2;
  line-height: 1.5;
  letter-spacing: 0;
  font-size: 12px;
}
.available-offers-container .available-offers-wrapper .coupon-code-wrapper {
  margin-top: 0.625em;
}
.available-offers-container .available-offers-wrapper .coupon-code-wrapper .item-coupon {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-bottom: 0.625em;
}
.available-offers-container .available-offers-wrapper .coupon-code-wrapper .item-coupon .coupon {
  background-color: rgba(241, 19, 122, 0.2);
  border: 1px dashed #f1137a;
  padding: 0.625em;
  border-radius: 3px;
}
.available-offers-container .available-offers-wrapper .coupon-code-wrapper .item-coupon .coupon.active {
  border: 1px solid #f1137a;
}
.available-offers-container .available-offers-wrapper .coupon-code-wrapper .item-coupon .coupon h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.available-offers-container .available-offers-wrapper .coupon-code-wrapper .item-coupon .description {
  color: #c2c2c2;
  padding-left: 0.625em;
  font-size: 13px;
  letter-spacing: 0;
  display: none;
}
.available-offers-container .available-offers-wrapper .coupon-code-wrapper .item-coupon .description.active {
  display: block;
}
.available-offers-container .available-offers-wrapper .coupon-code-wrapper .copy-notification {
  padding-left: 0.625em;
  font-size: 13px;
  letter-spacing: 0;
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3.125em;
  padding: 0.9375em;
  background: rgba(194, 194, 194, 0.15);
  color: black;
  border-radius: 3px;
  transition: 0.3s opacity;
}
.available-offers-container .available-offers-wrapper .coupon-code-wrapper .copy-notification.active {
  display: block;
  opacity: 1;
}

.delivery-option-container {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 0.9375em;
}
.delivery-option-container .delivery-option-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.delivery-option-container .delivery-option-wrapper img {
  width: 2em;
  object-fit: cover;
  margin-right: 0.5em;
}
.delivery-option-container .delivery-option-wrapper p {
  font-size: 13px;
  letter-spacing: 0;
}
.delivery-option-container .delivery-option-wrapper p .amount {
  color: #f1137a;
}

.cart-product-container {
  width: 100%;
  background-color: white;
  padding: 0.9375em;
}
.cart-product-container .cart-product-wrapper {
  width: 100%;
  height: 100%;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 9.375em;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-image-wrapper {
  max-width: 7.5em;
  width: 100%;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-image-wrapper a .imgStyle {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper {
  width: 100%;
  margin-left: 1.25em;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper a {
  font-size: 13px;
  letter-spacing: 0;
  margin-bottom: 1.5625em;
  display: flex;
  flex-direction: column;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper a span {
  margin-bottom: 0.3125em;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper a span.product-name {
  font-weight: 600;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper a span.product-seller {
  color: #c2c2c2;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper .product-quantity-wrapper {
  margin-bottom: 0.9375em;
  display: flex;
  width: 100%;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper .product-quantity-wrapper button {
  outline: none;
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #c2c2c2;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper .product-quantity-wrapper button:focus {
  outline: none;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper .product-quantity-wrapper button img {
  width: 1.4em;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper .product-quantity-wrapper #qty {
  border: 0;
  color: black;
  text-align: center;
  margin: 0 0.3125em;
  width: 1.25em;
  font-size: 16px;
  font-weight: 600;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper .product-quantity-wrapper p {
  border: 1px solid #f1137a;
  border-radius: 3px;
  padding: 0.3125em 0.9375em;
  color: #f1137a;
  margin-left: 0.9375em;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper .product-price-wrapper {
  width: 100%;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper .product-price-wrapper h3 {
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 0.3125em;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper .product-price-wrapper h3 .old-amount {
  font-weight: 400;
  color: #c2c2c2;
  text-decoration: line-through;
  padding: 0 0.3125em;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper .product-price-wrapper h3 .discount {
  font-weight: 400;
  color: #f1137a;
}
.cart-product-container .cart-product-wrapper .product-content-wrapper .product-description-wrapper .product-price-wrapper p {
  letter-spacing: 0;
  font-weight: 600;
  font-size: 13px;
}

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.111vw;
}
@media only screen and (min-width: 1025px) {
  body {
    font-size: 16px;
    background-color: rgba(194, 194, 194, 0.15);
  }
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}
main {
  background-color: rgba(194, 194, 194, 0.15);
  height: 100%;
  padding-bottom: 0.9375em;
}
main .section {
  margin: 1.25em 0;
}
@media only screen and (min-width: 1025px) {
  main {
    background-color: whitesmoke;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }
}

.animated .animated-child {
  opacity: 0;
  transform: translateY(-15px);
}
/*# sourceMappingURL=build.css.map */