@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@font-face {
  font-family: "Segoe UI";
  src: url("../font/SegoeUI-Bold.eot");
  src: url("../font/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../font/SegoeUI-Bold.woff2") format("woff2"), url("../font/SegoeUI-Bold.woff") format("woff"), url("../font/SegoeUI-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../font/SegoeUI.eot");
  src: url("../font/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../font/SegoeUI.woff2") format("woff2"), url("../font/SegoeUI.woff") format("woff"), url("../font/SegoeUI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h2 {
  color: #000;
  font-size: 1.5em;
  letter-spacing: 0em;
  line-height: 1;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 16px;
    font-weight: 700;
  }
}

h3 {
  color: #000;
  font-size: 1.375em;
  letter-spacing: 0em;
  line-height: 1;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 14px;
    font-weight: 600;
  }
}

h4 {
  color: #000;
  font-size: 1.25em;
  letter-spacing: 0em;
  line-height: 1;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 767px) {
  h4 {
    font-size: 13px;
  }
}

h5 {
  color: #8d8d8d;
  font-size: 1em;
  letter-spacing: 0em;
  line-height: 1;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 767px) {
  h5 {
    font-size: 8px;
  }
}

p, a {
  color: #000;
  font-size: 1em;
  letter-spacing: 0.06875em;
  line-height: 1.0625;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 767px) {
  p, a {
    font-size: 11px;
  }
}

a {
  text-decoration: none;
}

.header-container {
  width: 100%;
  height: 3.125em;
}
@media only screen and (min-width: 768px) {
  .header-container {
    height: 4.375em;
  }
}
.header-container .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 0.9375em;
}
.header-container .header-wrapper .header-left-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
}
.header-container .header-wrapper .header-left-wrapper .btn-arrow-back {
  margin-right: 0.9375em;
}
.header-container .header-wrapper .header-left-wrapper .btn-arrow-back img {
  width: 1.364em;
  height: 1.364em;
}
.header-container .header-wrapper .header-left-wrapper .page-title {
  display: none;
  font-weight: 600;
}
.header-container .header-wrapper .header-left-wrapper .page-title.is-active {
  display: block;
}
.header-container .header-wrapper .header-left-wrapper .input-field-for-search-wrapper {
  width: 100%;
  display: none;
}
.header-container .header-wrapper .header-left-wrapper .input-field-for-search-wrapper.is-active {
  display: block;
}
.header-container .header-wrapper .header-left-wrapper .input-field-for-search-wrapper input {
  border: none;
  outline: none;
  width: 100%;
}
.header-container .header-wrapper .header-left-wrapper .input-field-for-search-wrapper input:focus {
  outline: none;
}
.header-container .header-wrapper .header-right-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-container .header-wrapper .header-right-wrapper a {
  margin-right: 1.364em;
}
.header-container .header-wrapper .header-right-wrapper a img {
  width: 1.364em;
  height: 1.364em;
}
.header-container .header-wrapper .header-right-wrapper a:last-child {
  margin-right: 0;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
            This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
            calculation of the height of the owl-item that breaks page layouts
         */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.pink-banner-container {
  width: 100%;
  height: 4.6875em;
  background-color: #ff99c8;
}
@media only screen and (min-width: 768px) {
  .pink-banner-container {
    height: 6.25em;
  }
}
.pink-banner-container .pink-banner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 0.9375em;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .pink-banner-container .pink-banner-wrapper {
    padding: 0 1.25em;
  }
}
.pink-banner-container .pink-banner-wrapper h3 {
  color: white;
  font-weight: 600;
  margin-bottom: 5px;
}
.pink-banner-container .pink-banner-wrapper p {
  color: white;
}

.product-items-container {
  width: 100%;
  margin-bottom: 4.0625em;
}
@media only screen and (min-width: 768px) {
  .product-items-container {
    margin-bottom: 5em;
  }
}
.product-items-container .product-wrapper {
  display: flex;
  width: 100%;
  justify-content: start;
  flex-wrap: wrap;
}
.product-items-container .product-wrapper .item-wrapper {
  width: 50%;
  border-bottom: 1px solid #c2c2c2;
}
.product-items-container .product-wrapper .item-wrapper:nth-child(2n) .product-content-wrapper {
  border-right: 0;
}
@media only screen and (min-width: 1025px) {
  .product-items-container .product-wrapper .item-wrapper {
    width: 25%;
  }
  .product-items-container .product-wrapper .item-wrapper:nth-child(2n) .product-content-wrapper {
    border-right: 2px solid #c2c2c2;
  }
  .product-items-container .product-wrapper .item-wrapper:nth-child(4n) .product-content-wrapper {
    border-right: 0;
  }
}
.product-items-container .product-wrapper .item-wrapper .product-image-bgStyle {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 187px;
  width: 100%;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .product-items-container .product-wrapper .item-wrapper .product-image-bgStyle {
    height: 22.5em;
  }
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper {
  height: 5em;
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #c2c2c2;
}
@media only screen and (min-width: 768px) {
  .product-items-container .product-wrapper .item-wrapper .product-content-wrapper {
    height: 7.5em;
    padding: 1.25em;
  }
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3125em;
}
@media only screen and (min-width: 768px) {
  .product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper {
    margin-bottom: 0.625em;
  }
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper h4 {
  font-weight: 600;
  letter-spacing: -1.1px;
  line-height: 12px;
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper .product-icon-wrapper img {
  width: 1.182em;
  height: 1.182em;
}
@media only screen and (min-width: 768px) {
  .product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-title-wrapper .product-icon-wrapper img {
    width: 1.364em;
    height: 1.364em;
  }
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-description-wrapper {
  margin-bottom: 0.3125em;
}
@media only screen and (min-width: 768px) {
  .product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-description-wrapper {
    margin-bottom: 0.625em;
  }
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper {
  display: flex;
  align-items: center;
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper .price-wrapper {
  display: flex;
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper .price-wrapper h3 {
  font-family: "Segoe Ui";
  margin-right: 4px;
  font-size: 0.75em;
  letter-spacing: -0.5px;
}
@media only screen and (min-width: 768px) {
  .product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper .price-wrapper h3 {
    font-size: 1.125em;
    margin-right: 0.625em;
  }
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper .price-wrapper h3.discount {
  color: #c2c2c2;
  font-weight: 400;
  text-decoration: line-through;
}
.product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper .discount-detail {
  font-family: "Segoe Ui";
  font-size: 0.625em;
  color: #03a685;
  letter-spacing: 0;
}
@media only screen and (min-width: 768px) {
  .product-items-container .product-wrapper .item-wrapper .product-content-wrapper .product-price-wrapper .discount-detail {
    font-size: 1.125em;
    margin-right: 0.625em;
  }
}
.sort-filter-container {
  width: 100%;
  height: 4.0625em;
  border-bottom: 1px solid #c2c2c2;
  position: fixed;
  bottom: 0;
  background-color: white;
  box-shadow: 0px -2px 5px -2px rgba(0, 0, 0, 0.55);
}
@media only screen and (min-width: 768px) {
  .sort-filter-container {
    height: 5em;
  }
}
.sort-filter-container .sort-filter-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sort-filter-container .sort-filter-wrapper .wrapper {
  text-align: center;
  width: 50%;
}
.sort-filter-container .sort-filter-wrapper .wrapper a {
  font-size: 0.75em;
  letter-spacing: 2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sort-filter-container .sort-filter-wrapper .wrapper a .sort-span {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .sort-filter-container .sort-filter-wrapper .wrapper a {
    font-size: 1.25em;
  }
}
.sort-filter-container .sort-filter-wrapper .wrapper a img {
  margin-right: 1.25em;
  width: 1.364em;
  height: 1.364em;
}
.sort-filter-container .sort-filter-wrapper .wrapper .round {
  height: 0.417em;
  width: 0.417em;
  border-radius: 50%;
  background-color: #f1137a;
  position: absolute;
  top: -0.2em;
  right: -0.5em;
}

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.111vw;
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}
/*# sourceMappingURL=build.css.map */